.logos {
    width: 100px;
    height: 100px;
  }
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .conferencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
  }
  .expediente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 5px;
  }